html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  background: url(../images/bg5.jpg) no-repeat fixed left top;
  background-size: cover;
  margin: 0;
  font-family: 'Bree Serif', cursive, Arial, Helvetica, sans-serif;
}
.header {
    background-color: rgb(222, 231, 238);
    height: 50px;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    box-shadow: 0 3px 30px -10px rgba(0,0,0,0.8);
    border-bottom: 1px solid #d0dce1;
    text-align: center;
    padding: 12px;
}
.logo {
  opacity: 0.8;
}
.wrapper {
  padding: 50px 12px;
}

#content {
  padding-top: 30px;
}

.card {
  box-shadow: 0 38px 34px -34px rgba(0, 0, 0, 0.5), 0 1px 8px rgba(0, 0, 0, 0.03);
  margin-bottom: 36px;
  border-radius: 12px;
  overflow: hidden;
  min-width: 296px;

}
.card__img {
  width: 100%;
  max-width: 100%;
  height: 100%;
  display: block;
}
.card__content {
  padding: 18px 12px;
  background-color: #fff;
  /*display: none;*/
  text-align: center;
}
.card__heading {
  font-size: 22px;
    margin-top: 0;
    margin-bottom: 0;
    margin-top: 3px;
    line-height: 1.3;
    color: #333;
    /* font-weight: 100; */
}
.card__desc {
  margin: 0;
  color: #666;
  font-size: 14px;
  font-style: italic;
  font-family: Arial;
  font-size: 13px;
}
